.hero_sec__ {
  padding-top: 20rem;
  margin-top: -13rem;

  @include md {
    padding-top: 15rem;
    margin-top: -9rem;
  }

  @include xs {
    padding-top: 7rem;
    margin-top: -4rem;
  }

  background-color: #f2f7fc;
  position: relative;

  &::before {
    position: absolute;
    content: url("../images/hero/half_circle.svg");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    bottom: 24%;
    inset-inline-start: -5%;

    @include dir {
      transform: rotate(180deg);
      inset-inline-start: -8%;
    }
  }

  @include md {
    &::before {
      inset-inline-start: -10%;
    }
  }

  @include sm {
    &::before {
      inset-inline-start: -20%;
    }
  }

  @include xs {
    &::before {
      inset-inline-start: -30%;
    }
  }
  @include xxs {
    &::before {
      inset-inline-start: -50%;
    }
  }

  .hero_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .hero_desc {
  //   position: absolute;
  //   bottom: 17.5%;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   text-align: center;
  //   z-index: 2;

  //   @include sm {
  //     width: 100%;
  //     padding: 0 15px;
  //   }
  // }

  .hero_desc_wrapper {
    width: 100%;
  }

  .hero_desc {
    margin: 0 auto;
    width: 55%;
    text-align: center;

    @include xs {
      width: 100%;
    }
  }

  .hero_title__ {
    font-size: 3.3rem;
    font-weight: 800;
    margin-bottom: 26px;
    color: $headingMainColor;
    line-height: 33px;

    @include xxs {
      font-size: 2rem;
      margin-bottom: 5px;
    }
  }

  .hero_sub_title__ {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 55px;
    color: #6e6e6e;

    @include xxs {
      font-size: 1.6rem;
      margin-bottom: 10px;
    }
  }

  .hero_link__ {
    display: flex;
  }

  .hero_link {
    width: 100%;
    max-width: 260px;
  }

  .hero_figure_wrapper {
    max-width: 317.22px;
    position: relative;

    &::before {
      @include circle(87%);
      position: absolute;
      content: "";
      background-color: rgba(#e89111, 0.14);
      bottom: -5%;
      inset-inline-end: -38%;
    }
  }

  .hero_figure {
    @include p-bottom(317.2, 317.22);
  }
}

.about_us_wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: url(../images/shapes/about_us/about_left.png);
    width: 334px;
    height: 267px;
    background-repeat: no-repeat;
    top: 10%;
    inset-inline-end: -10%;
    z-index: -1;

    @include dir {
      inset-inline-start: -10%;
    }
  }

  &::after {
    position: absolute;
    content: url(../images/shapes/about_us/about_right.png);
    width: 240px;
    height: 401px;
    background-repeat: no-repeat;
    top: 10%;
    inset-inline-start: -10%;
    z-index: -1;

    @include dir {
      inset-inline-start: auto;
      inset-inline-end: -10%;
    }
  }

  .about_us_logo {
    max-width: 107px;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .main_parag__ * {
    color: $paragraphMainColor;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8;
    margin: 0 auto;
    margin-bottom: 2.7rem;
    text-align: center;
    width: 80%;
  }

  .parag__ * {
    color: $paragraphMainColor;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;
  }
}
