// =========================================
// Main colors
// =========================================
$primaryColor: #0066c9;
$secondaryColor: #052443;
$thirdColor: #fff;

// =========================================
// Other Colors
// =========================================
$greyColor: #9b9b9b;
$secondaryGreyColor: #f2f2f2;
$greenColor: #3cad03;
$redColor: #dc0943;
$orangeColor: #efb104;
$yellowColor: #e89111;
$borderColor: #ddd;
$mainPageBackground: #fff;

// =========================================
// Input Styles
// =========================================
$inputPlaceholderColor: #7c7d7e;
$inputBackgroundColor: transparent;
$inputHeight: 54px;
$inputFontSize: 1.4rem;
$inputGreyBackgroundColor: #f1f1f1;

// =========================================
// Brands Colors
// =========================================
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

// =========================================
// Teypgraphy
// =========================================
$mainFontFamily: "Almarai";

// =========================================
// Head colors
// =========================================
$headingMainColor: #052443;
$headingSecondaryColor: #808080;
$headingThirdColor: #969696;

// =========================================
// Paragraph Colors
// =========================================
$paragraphMainColor: #1f1b20;
$paragraphSecondaryColor: #7c7d7e;
$paragraphThirdColor: #969696;

// =========================================
// Border Radius
// =========================================
$mainBorderRadius: 33px;
$secondaryBorderRadius: 10px;
$thirdBorderRadius: 19px;

// =========================================
// Direction
// =========================================
$dir: "ltr";

// =========================================
// Transtion
// =========================================
$mainTransition: 0.5s;
