webrouk-custom-range {
  --w-primary-color: #C6A365;
  --w-text-color: hsl(0, 100%, 100%);
  --w-line-color: #E3E3E3;
  --w-radius-size: 20px;
  --w-handle-size : 10px;
  --w-iniVal-display:none;
  --w-handle-height: 18px;
  --w-handle-width: 10px;
  --w-radius-size:6px;
  --w-handle-label-font-size: 1.4rem;
}